$ttl 360
capes.gov.br.	IN	SOA	ns1.capes.gov.br. rede.capes.gov.br. (
			2020030867
			10800
			3600
			604800
			360 )
capes.gov.br.	IN	NS	ns1.capes.gov.br.
capes.gov.br.	IN	NS	ns2.capes.gov.br.
capes.gov.br.	IN	TXT	"v=spf1 mx ptr mx:smtp.capes.gov.br ip4:200.130.18.0/24 ip4:200.130.19.65/32 ip4:200.130.24.20/32 -all"
capes.gov.br.	IN	A	200.130.18.222
antigo.capes.gov.br.	IN	A	200.130.18.222
;capes.gov.br.	IN	A	200.130.19.36
mail2.capes.gov.br.	IN	A	200.130.18.2
;ftp.capes.gov.br.	IN	A	200.130.18.223
ged.capes.gov.br.	IN	A	200.130.18.174
sdi.capes.gov.br.	IN	A	200.130.18.186
ged1.capes.gov.br.	IN	A	200.130.18.161
voip            IN      A       200.130.18.10
servicosies.capes.gov.br.	IN	A	200.130.18.234
silverhomolog.capes.gov.br.	IN	A	200.130.18.104
homologacao     IN      A       200.130.18.24
suporte         IN      A       200.130.18.20
vpn.capes.gov.br.	IN	A	200.130.18.154
cms             IN      A       200.130.18.30
aval            IN      A       200.199.239.164
capes01         IN      CNAME   srv40
servicos2       IN      CNAME   servicos
www.periodicos  IN      CNAME   periodicos
periodicos.capes.gov.br.	IN	A	200.130.19.24
portal          IN      CNAME   periodicos
colecao         IN      CNAME   periodicos
ns1.capes.gov.br.	IN	A	200.130.18.192
ns1.capes.gov.br.	IN	AAAA	2001:12f0:b27:1000:0250:56ff:fe80:7d5b
ns2.capes.gov.br.	IN	A	200.130.19.38
ns2.capes.gov.br.	IN	AAAA	2001:12f0:b1d::1938
srv40.capes.gov.br.	IN	A	200.130.19.38
cocker.capes.gov.br.	IN	A	200.130.18.192
homologacao2.capes.gov.br.	IN	A	200.130.18.46
indicadores.capes.gov.br.	IN	A	200.130.18.40
www2.capes.gov.br.	IN	A	200.130.18.122
recursos.capes.gov.br.	IN	A	200.130.18.47
mesalc.capes.gov.br.	IN	A	200.130.18.12
ironport.capes.gov.br.	IN	A	200.130.18.2
smtp.capes.gov.br.	300	IN	A	200.130.18.2
proequipamentos.capes.gov.br.	IN	A	200.130.18.161
pnpd.capes.gov.br.	IN	A	200.130.18.40
autorizanovoano.capes.gov.br.	IN	A	200.130.18.171
sacexterior.capes.gov.br.	IN	A	200.130.18.174
nagios.capes.gov.br.	IN	A	200.130.18.137
acomcapesnet.capes.gov.br.	IN	A	200.130.18.179
webmail.capes.gov.br.	IN	A	200.130.18.230
sac.capes.gov.br.	IN	A	200.130.18.237
pibid2.capes.gov.br.	IN	A	200.130.18.40
pecpg.capes.gov.br.	IN	A	200.130.18.40
trabalhoconclusao.capes.gov.br.	IN	A	200.130.18.48
pagamento.capes.gov.br.	IN	A	200.130.18.247
joomla.capes.gov.br.	IN	A	200.130.18.48
observatorio.capes.gov.br.	IN	A	200.130.18.40
divulgacao.capes.gov.br.	IN	A	200.130.18.40
;coletaespecificos.capes.gov.br.	IN	A	200.130.18.171 ;Ticket#2020042210000172 — [DESATIVACAO] - GMUD COLETA ESPECIFICO
buscador.periodicos.capes.gov.br.	IN	A	200.130.19.17
link.periodicos.capes.gov.br.	IN	A	200.130.19.26
vsrv93-dmz.capes.gov.br.	IN	A	200.130.18.2
icd.capes.gov.br.	IN	A	200.130.18.171
www.uab.capes.gov.br.	IN	A	200.130.18.222
;atuab.capes.gov.br.      IN      A       200.130.18.174
atuab.capes.gov.br.      IN      A       200.130.18.105
gandalf.capes.gov.br.	IN	A	200.130.15.85
aragorn.capes.gov.br.	IN	A	200.130.15.86
ged2.capes.gov.br.	IN	A	200.130.18.161
sadpnpd.capes.gov.br.	IN	A	200.130.18.40
sadcienciasmar.capes.gov.br.	IN	A	200.130.18.40
srvperiodicos2.periodicos.capes.gov.br.	IN	A	200.130.19.2
smtp.periodicos.capes.gov.br.	IN	A	200.130.19.24
sadpibid.capes.gov.br.capes.gov.br.	IN	A	200.130.18.40
seaq.capes.gov.br.	IN	A	200.130.18.40
sadpibid.capes.gov.br.	IN	A	200.130.18.40
inscricoes-cgci.capes.gov.br.	IN	A	200.130.18.174
sadpaep.capes.gov.br.	IN	A	200.130.18.56
zabbix.capes.gov.br.	IN	A	200.130.18.34
idp.capes.gov.br.	IN	A	200.130.18.191
vrnp2.capes.gov.br.	IN	A	200.130.18.167
_sip._udp.capes.gov.br.	IN	SRV	1 1 5060 vrnp1.capes.gov.br.
_sip._tcp.capes.gov.br.	IN	SRV	1 1 5060 vrnp1.capes.gov.br.
backup.capes.gov.br.	IN	A	200.130.18.110
sadprodoc.capes.gov.br.	IN	A	200.130.18.40
sadcea.capes.gov.br.	IN	A	200.130.18.40
sadict.capes.gov.br.	IN	A	200.130.18.126
sirhomolog.capes.gov.br.	IN	A	200.130.18.22
fichahomolog.capes.gov.br.	IN	A	200.130.18.22
sadequipamentosuab.capes.gov.br.	IN	A	200.130.18.40
estatico.capes.gov.br.	300	IN	A	200.130.18.228
scpb.capes.gov.br.	IN	A	200.130.18.233
discenteswebservice.capes.gov.br.	IN	A	200.130.18.40
diarioweb.capes.gov.br.	IN	A	200.130.18.48
intranet3.capes.gov.br.	IN	A	200.130.18.161
googlelogin.capes.gov.br. IN	A	200.130.18.161
pct.capes.gov.br.	IN	A	200.130.18.33
;pct.capes.gov.br.	IN	A	200.130.19.72
sains.capes.gov.br.	IN	A	200.130.18.174
contra.capes.gov.br.	IN	A	200.130.18.41
sparq.homologacao.capes.gov.br.	IN	A	200.130.18.28
contrasicapes.homolog.capes.gov.br.	IN	A	200.130.18.28
ojs.rbpg.capes.gov.br.	IN	A	200.130.18.106
;ojs.rbpg.capes.gov.br.	IN	A	200.130.19.72
rbpg.capes.gov.br.	IN	A	200.130.18.106
dominiopublico.homolog.capes.gov.br.	IN	A	200.130.18.22
questionarios.capes.gov.br.	IN	A	200.130.18.247
questionario.capes.gov.br.	IN	A	200.130.18.174
discenteswebservice.homolog.capes.gov.br.	IN	A	200.130.18.22
discentes.homolog.capes.gov.br.	IN	A	200.130.18.47
sicapes.desenv.capes.gov.br.	IN	A	200.130.18.120
contrasicapes.desenv.capes.gov.br.	IN	A	200.130.18.120
js.capes.gov.br.	IN	A	200.130.18.47
sgb.capes.gov.br.	IN	A	200.130.18.174
sicapes.capes.gov.br.	IN	A	200.130.18.203
contrasicapes.capes.gov.br.	IN	A	200.130.18.245
;segurancasicapes.capes.gov.br.	IN	A	200.130.18.171 ;Ticket#2020042210000191 — [DESATIVACAO] - GMUD SEGURANCA SICAPES 
sadmin.capes.gov.br.	IN	A	200.130.18.171
;sadmin.capes.gov.br.	IN	A	200.130.19.72
arquivosmailing.capes.gov.br.	IN	A	200.130.18.41
cienciasemfronteiras.capes.gov.br.	IN	A	200.130.18.169
www.cienciasemfronteiras.capes.gov.br.	IN	A	200.130.18.169
;viso.capes.gov.br.	IN	A	200.130.18.161
dominiopublico.homolog.capes.gov.br.	IN	A	200.130.18.47
sdiold.capes.gov.br.	IN	A	200.130.18.51
financeiro.capes.gov.br.	IN	A	200.130.18.1
assinador.capes.gov.br.	IN	A	200.130.18.247
capes.gov.br.	IN	TXT	"google-site-verification=ylgAKEk403EZ2Ht8XmY4vva2BtSqN5GWHZCFiYuE2Sg"
capes.gov.br.	IN	TXT	"google-site-verification=NESRfwKKGnrSaXukvo3prvUL-CIBv8ci06dq8WIhb5c"
indicacaocoordenador.capes.gov.br.	IN	A	200.130.18.247
nas07.capes.gov.br.	IN	A	200.130.18.241
sisrel.capes.gov.br.	IN	A	200.130.18.194
bolsista.capes.gov.br.	IN	CNAME	ghs.google.com.
bolsistas.capes.gov.br.	IN	CNAME	ghs.google.com.
www.bolsista.capes.gov.br.	IN	CNAME	ghs.google.com.
www.bolsitas.capes.gov.br.	IN	CNAME	ghs.google.com.
discente2.capes.gov.br.	IN	A	200.130.18.58
pvc.capes.gov.br.	IN	A	200.130.18.174
paep.capes.gov.br.      IN      A       200.130.18.207
sicapes2.capes.gov.br.	IN	A	200.130.18.126
informerendimentos.capes.gov.br.	IN	A	200.130.18.171
mailing.capes.gov.br.	IN	A	200.130.18.174
www.pvc.capes.gov.br.	IN	A	200.130.18.174
novostalentos.capes.gov.br.	IN	A	200.130.18.203
apcn.capes.gov.br.	IN	A	200.130.18.161
;cadastrousuario.capes.gov.br.	IN	A	200.130.18.171 ;Ticket#2020042210000207 — [DESATIVACAO] - GMUD CADASTRO USUARIO
www.capes.gov.br.	300	IN	A	200.130.18.222
;www.capes.gov.br.	300	IN	A	200.130.19.36
;geocapes.capes.gov.br.	IN	A	200.130.19.72
geocapes.capes.gov.br.	IN	A	200.130.18.171
uab.capes.gov.br.	IN	A	200.130.18.222
;coleta.capes.gov.br.	300	IN	A	200.130.18.228
coleta.capes.gov.br.	300	IN	CNAME	sucupira.capes.gov.br.	
cienciasemfronteiras1.capes.gov.br.	IN	A	200.130.18.91
cienciasemfronteiras2.capes.gov.br.	IN	A	200.130.18.92
cienciasemfronteiras3.capes.gov.br.	IN	A	200.130.18.93
cienciasemfronteiras4.capes.gov.br.	IN	A	200.130.18.94
;smtp1.capes.gov.br.	300	IN	A	200.130.18.220
smtp1.capes.gov.br.	IN	A	200.130.18.140
cati-legado.capes.gov.br.	IN	A	200.130.18.136
cati.capes.gov.br.	IN	A	200.130.18.50
catidri.capes.gov.br.	IN	A	200.130.18.151
;cati.capes.gov.br.	IN	A	200.130.19.72
qualis.capes.gov.br.	IN	A	200.130.18.247
autodiscover.capes.gov.br.	IN	A	200.130.18.230
atualizaexterior.capes.gov.br.	IN	A	200.130.18.126
extratobolsista.capes.gov.br.	IN	A	200.130.18.174
;smtp2.capes.gov.br.	300	IN	A	200.130.18.220
smtp2.capes.gov.br.	IN	A	200.130.18.141
correioweb.capes.gov.br.	IN	A	200.130.18.230
apcncapes.capes.gov.br.	IN	A	200.130.18.171
homologacaocsf.capes.gov.br.	IN	A	200.130.18.169
linhadireta.capes.gov.br.	IN	A	200.130.18.171
scba.capes.gov.br.	IN	A	200.130.18.172
;metadados.capes.gov.br.	IN	A	200.130.18.171
metadados.capes.gov.br.	IN	A	200.130.18.139
www.pnpg2011-2020.capes.gov.br.	IN	CNAME	ghs.google.com.
pnpg2011-2020.capes.gov.br.	IN	CNAME	ghs.google.com.
www.escritoriodeprocessos.capes.gov.br.	IN	A	200.130.18.174
escritoriodeprocessos.capes.gov.br.	IN	A	200.130.18.174
ficha.hom.capes.gov.br.	IN	A	200.130.18.36
www.aris.capes.gov.br.	IN	A	200.130.18.136
www.processosautomatizados.capes.gov.br.	IN	A	200.130.18.174
processosautomatizados.capes.gov.br.	IN	A	200.130.18.174
saetrienal.capes.gov.br.	IN	A	200.130.18.162
www.saetrienal.capes.gov.br.	IN	A	200.130.18.162
siprec.capes.gov.br.	IN	A	200.130.18.171
www.escritorio.capes.gov.br.	IN	A	200.130.18.42
www.procauto.capes.gov.br.	IN	A	200.130.18.213
procauto.capes.gov.br.	IN	A	200.130.18.213
portalestrategia.capes.gov.br.	IN	A	200.130.18.214
www.comunidades.capes.gov.br.	IN	CNAME	ghs.google.com.
comunidades.capes.gov.br.	IN	CNAME	ghs.google.com.
www.gestao.hom.capes.gov.br.	IN	A	200.130.18.111
gestao.capes.gov.br.	IN	A	200.130.18.174
capes.gov.br.	60M	IN	TXT	"MS=ms40742591"
www.parforprivadas.capes.gov.br.	IN	A	200.130.18.203
qualis13.capes.gov.br.	IN	A	200.130.18.173
www.trienal.capes.gov.br.	IN	CNAME	ghs.google.com
www.sdi.des.capes.gov.br.	IN	A	200.130.18.240
monitoria-old.capes.gov.br.	IN	A	200.130.18.176
monitoria.capes.gov.br.	IN	A	200.130.18.8
conteudoweb.capes.gov.br.	IN	A	200.130.18.171
seguranca.capes.gov.br.	IN	A	200.130.18.247
dadosabertos.capes.gov.br.	IN	A	200.130.18.226
;dadosabertos.capes.gov.br.	IN	A	200.130.19.72
trienal.capes.gov.br.	IN	A	200.130.18.174
sucupira.des.capes.gov.br.	IN	A	200.130.18.195
sdi.trienal.capes.gov.br.	IN	A	200.130.18.234
lockss.periodicos.capes.gov.br.	IN	A	200.130.19.41
analisevisual.capes.gov.br.	IN	A	200.130.18.241
www.analisevisual.capes.gov.br.	IN	A	200.130.18.241
;sisuab.capes.gov.br.	IN	A	200.130.18.161
sisuab.capes.gov.br.	IN	A	200.130.18.171
www.avaliacaotrienal2013.capes.gov.br.	IN	CNAME	ghs.google.com.
avaliacaotrienal2013.capes.gov.br.	IN	CNAME	ghs.google.com.
trienal2013.capes.gov.br.	IN	A	200.130.18.174
www.trienal2013.capes.gov.br.	IN	A	200.130.18.126
www.cabes.capes.gov.br.	IN	A	200.130.18.174
cabes.capes.gov.br.	IN	A	200.130.18.174
;meo-ws.capes.gov.br.	IN	A	200.130.18.171 ;Ticket#2020042210000181 — [DESATIVACAO] - GMUD MEO
inscricaomtur.capes.gov.br.	IN	A	200.130.18.203
procad.capes.gov.br.	IN	A	200.130.18.203
prtg.capes.gov.br.	IN	A	200.130.18.185
jbpmgerenciador.capes.gov.br.	IN	A	200.130.18.247
;bancodeteses.capes.gov.br.	IN	A	200.130.18.154
;bancodeteses.capes.gov.br.	IN	A	200.130.18.237
bancodeteses.capes.gov.br.	IN	A	200.130.18.237
catalogodeteses.capes.gov.br.	IN	A	200.130.18.237
instituicoes.capes.gov.br.      IN      A       200.130.18.237   
capesdw.capes.gov.br.	IN	CNAME	bancodeteses.capes.gov.br.
fmailing.capes.gov.br.	IN	A	200.130.18.174
servicosadd.capes.gov.br.	IN	A	200.130.18.171
;sap.capes.gov.br.	IN	A	200.130.18.247
;sap.capes.gov.br.	IN	A	200.130.19.72
candidaturas.capes.gov.br.	IN	A	200.130.18.203
validadocumentos.capes.gov.br.	IN	A	200.130.18.174
resultadostrienal.capes.gov.br.	IN	A	200.130.18.247
;meo.capes.gov.br.	IN	A	200.130.18.203
;homologacaomeo.capes.gov.br.	IN	A	200.130.18.203
18.203.capes.gov.br.	IN	A	200.130.18.203
monitoriauab.capes.gov.br.	IN	A	200.130.18.147
seminario.capes.gov.br.	IN	A	200.130.18.174
cadri.capes.gov.br.	IN	A	200.130.18.175
eduroam.capes.gov.br.	IN	A	200.130.18.157
apcn2.capes.gov.br.	IN	A	200.130.18.161
;pesquisa.capes.gov.br.	IN	A	200.130.18.248
transparencia.capes.gov.br.	IN	A	200.130.18.248
pci.capes.gov.br.	IN	A	200.130.18.174
;sdi.meo.capes.gov.br.	IN	A	200.130.18.161
sucupira.capes.gov.br.	IN	A	200.130.18.158
bjt.hom.capes.gov.br.	IN	A	200.130.18.231
mstr.capes.gov.br.	IN	A	200.130.18.150
socioemocionais.capes.gov.br.	IN	A	200.130.18.174
imagens.capes.gov.br.	IN	A	200.130.18.162
instituicoes.capes.gov.br.	IN	A	200.130.18.252
;sistemas.capes.gov.br.	IN	A	200.130.18.171
coordenadorcsf.capes.gov.br.	IN	A	200.130.18.174
ns3.capes.gov.br.	IN	A	200.130.18.193
ns3.capes.gov.br.	IN	AAAA	2001:12f0:b27:1000:0250:56ff:fe80:0dba
capes.gov.br.	IN	NS	ns3.capes.gov.br.
uploads.capes.gov.br.	IN	A	200.130.18.44
stem.capes.gov.br.	IN	A	200.130.18.174
estatisticavisual.capes.gov.br.	IN	A	200.130.18.224
seminarioacompanhamentoppgmeiotermo.capes.gov.br.	IN	CNAME	ghs.google.com.
sacexteriornovo.capes.gov.br.	IN	A	200.130.18.174
www1.capes.gov.br.	IN	CNAME	www.capes.gov.br.
capes.gov.br.	IN	TXT	"MS=ms66258398"
ged4.capes.gov.br.	IN	A	200.130.18.174
sucupira.capes.gov.br.	IN	A	200.130.18.159
sso.capes.gov.br.	IN	A	200.130.18.237
;sso.capes.gov.br.	IN	A	200.130.19.72
sisuab2.capes.gov.br.	IN	A	200.130.18.170

sei.teste.capes.gov.br.	IN	A	200.130.18.42

gip.capes.gov.br.       IN      A       200.130.18.75

;SEI
sei.capes.gov.br.	IN	A	200.130.18.225
;SIP
sip.capes.gov.br.	IN	A	200.130.18.225

;SEI pagina de manutenção
;sei.capes.gov.br.      IN      A       200.130.19.72
;sip.capes.gov.br.      IN      A       200.130.19.72

educapes.capes.gov.br.	IN	A	200.130.18.160
www.educapes.capes.gov.br.	IN	CNAME	educapes.capes.gov.br.
;inscricao.capes.gov.br.	IN	A	200.130.18.80
;inscricao.capes.gov.br.	IN	A	200.130.19.72
idp.hom.capes.gov.br.	IN	A	200.130.18.164
scpbservicos.capes.gov.br.	IN	A	200.130.18.234
avaliacaoquadrienal.capes.gov.br.	IN	CNAME	ghs.googlehosted.com.
linhadiretaservicos.capes.gov.br.	IN	A	200.130.18.234
sipac.capes.gov.br.	IN	A	200.130.18.205
freirelegado.capes.gov.br.	IN	A	200.130.18.155
;esppiral.hom.capes.gov.br.	IN	A	200.133.38.32
;WebSemantica
vacab.capes.gov.br.        IN      A       200.130.18.91
vacab.capes.gov.br.        IN      A       200.130.18.92
vacab.capes.gov.br.        IN      A       200.130.18.93
vacab.capes.gov.br.        IN      A       200.130.18.94
;EB
eb.capes.gov.br.        IN      A       200.130.18.91
eb.capes.gov.br.        IN      A       200.130.18.92
eb.capes.gov.br.        IN      A       200.130.18.93
eb.capes.gov.br.        IN      A       200.130.18.94

;INSCRICAO
inscricao.capes.gov.br.        IN      A       200.130.18.91
inscricao.capes.gov.br.        IN      A       200.130.18.92
inscricao.capes.gov.br.        IN      A       200.130.18.93
inscricao.capes.gov.br.        IN      A       200.130.18.94

;SUCUPIRA2
sucupira2.capes.gov.br.        IN      A       200.130.18.91
sucupira2.capes.gov.br.        IN      A       200.130.18.92
sucupira2.capes.gov.br.        IN      A       200.130.18.93
sucupira2.capes.gov.br.        IN      A       200.130.18.94


;FREIRE
freire.capes.gov.br.	IN	A	200.130.18.91
freire.capes.gov.br.	IN	A	200.130.18.92
freire.capes.gov.br.	IN	A	200.130.18.93
freire.capes.gov.br.	IN	A	200.130.18.94
;FREIRE2
freire2.capes.gov.br.	IN	A	200.130.18.91
freire2.capes.gov.br.	IN	A	200.130.18.92
freire2.capes.gov.br.	IN	A	200.130.18.93
freire2.capes.gov.br.	IN	A	200.130.18.94
;SAP
sap.capes.gov.br.        IN      A       200.130.18.91
sap.capes.gov.br.        IN      A       200.130.18.92
sap.capes.gov.br.        IN      A       200.130.18.93
sap.capes.gov.br.        IN      A       200.130.18.94

;API-EXPOSITOR
api-expositor.capes.gov.br.        IN      A       200.130.18.91
api-expositor.capes.gov.br.        IN      A       200.130.18.92
api-expositor.capes.gov.br.        IN      A       200.130.18.93
api-expositor.capes.gov.br.        IN      A       200.130.18.94

c10.capes.gov.br.	IN	A	200.130.18.40
www.c10.capes.gov.br.	IN	A	200.130.18.40
sucupirapaineis.capes.gov.br.	IN	A	200.133.39.148
barrabrasil.capes.gov.br.	IN	A	200.130.18.19
acessovpn.capes.gov.br.	IN	A	200.130.18.131
cad.capes.gov.br.	IN	A	200.130.18.197
redmine.capes.gov.br.	IN	A	200.130.18.73
redmine.hom.capes.gov.br.	IN	A	200.130.18.74
pesquisadorbffservicosmobile.capes.gov.br.	IN	A	200.130.18.234
bolsistabffservicosmobile.capes.gov.br.	IN	A	200.130.18.234
;invoice.capes.gov.br.	IN	A	200.130.18.171 ;Ticket#2020042210000163 — [DESATIVACAO] - GMUD INVOICE 
orcid.capes.gov.br.	IN	CNAME	capes.conecti.rnp.br.
;siapg.capes.gov.br.	IN	A	200.130.18.128
pcn.capes.gov.br.	IN	A	200.130.18.41
geapp.capes.gov.br.	IN	A	200.130.18.234
talentouniversitario.capes.gov.br.	IN	A	200.130.24.136
premioformacao.capes.gov.br.	IN	CNAME	www.premioformacao.capes.gov.br.
;conta.capes.gov.br.	IN	A	200.130.18.12
vocab.capes.gov.br.	IN	A	200.130.18.91
vocab.capes.gov.br.	IN	A	200.130.18.92
vocab.capes.gov.br.	IN	A	200.130.18.93
vocab.capes.gov.br.	IN	A	200.130.18.94
capes.gov.br.	3600	IN	TXT	"MS=ms15374424"
sae.capes.gov.br.	IN	A	200.130.18.18
;2020040710001146 - Desativar VPN De Homologação externamente
;vpn.hom.capes.gov.br.	IN	A	200.130.18.38
velocimetro.capes.gov.br.	IN	A	200.130.18.31
pcd.capes.gov.br.	IN	A	200.130.18.135
;pcd.capes.gov.br.       IN      A       200.130.19.72
pti.capes.gov.br.	IN	A	200.130.18.91
pti.capes.gov.br.	IN	A	200.130.18.92
pti.capes.gov.br.	IN	A	200.130.18.93
pti.capes.gov.br.	IN	A	200.130.18.94
visaoanalitica.capes.gov.br.   IN    A    200.130.18.32
chat.capes.gov.br.	IN	A	200.130.18.45
capes.gov.br.	IN	MX	5 smtp1.capes.gov.br.
capes.gov.br.	IN	MX	20 smtp2.capes.gov.br.
siapg.capes.gov.br.	IN	A	200.130.18.91
siapg.capes.gov.br.	IN	A	200.130.18.92
siapg.capes.gov.br.	IN	A	200.130.18.93
siapg.capes.gov.br.	IN	A	200.130.18.94
sip.teste.capes.gov.br.	IN	A	200.130.18.42
capes.gov.br.  3600     IN      TXT     "MS=ms91509676" ; Teams Microsoft
sip.                    3600  IN      CNAME   sipdir.online.lync.com. ; Teams Microsoft
lyncdiscover.capes.gov.br.            3600  IN      CNAME   webdir.online.lync.com. ; Teams Microsoft
enterpriseregistration.capes.gov.br. 3600  IN      CNAME   enterpriseregistration.windows.net. ; Teams Microsoft
enterpriseenrollment.capes.gov.br.   3600  IN      CNAME   enterpriseenrollment.manage.microsoft.com. ; Teams Microsoft
_sip._tls              3600  IN      SRV  100 1 443 sipdir.online.lync.com. ; Teams Microsoft
_sipfederationtls._tcp 3600  IN      SRV  100 1 5061 sipfed.online.lync.com. ; Teams Microsoft
spam.capes.gov.br.	IN	A	200.130.18.119
sei.hom.capes.gov.br.	IN	A	200.130.18.35
sip.hom.capes.gov.br.	IN	A	200.130.18.35
gestaodeemail.capes.gov.br.	IN	A	200.130.18.51
